<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-d7O0bFT0O/hcZ1PgoT4dOLbjj4v44p9d3h3wQ7ttHn6eFw5t0GPhDAknF20Akc2R" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cQXZkB7FSCspgF35R0XwQ2j7u7Lg5n6J/TZTgHkYf2h7fFs7GSjvP7gflKfWl5Af" crossorigin="anonymous"></script>
</head>

<style>
    .logo {
        display: block;
        margin: 0 auto 20px auto; /* Gambar ditengah dengan jarak bawah 20px */
        width: 100px; /* Ukuran gambar disesuaikan */
        height: auto; /* Menjaga proporsi gambar */
        background: none; /* Pastikan tidak ada background */
    }

    body, html {
        font-family: Quicksand, sans-serif !important;
        height: 100%;
        padding-top: 2rem;
        background-color: #4b4a4a;
    }

    .card {
        padding: 2rem;
        margin: 2rem;
        border-radius: 5px; /* Sesuaikan border-radius */
    }

    .btn {
        padding: 5px 50px;
        display: block;
        margin: 0 auto; /* Tombol ditengah */
		width: auto;
    }

    .form-footer {
        margin-top: 10px;
        text-align: center; /* Teks dan link ditengah */
    }

    /* Menambahkan italic pada link */
    .form-footer a i {
        font-style: italic;
        text-decoration: underline;
    }
</style>

<body style="padding: 0px !important;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form action="<%= url %>register/save" method="POST" class="col-md-4 card">

                <!-- Logo Gambar -->
                <img src="/public/images/buku.png" alt="Logo" class="logo">

                <h2>Sign Up</h2>
                <h6>Masukkan username dan password Anda</h6>

                <!-- Input Username -->
                <div class="form-group mt-4">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>

               <!-- Input Password -->
                <div class="form-group mt-4">
                    <input type="password" name="pass" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-footer mt-4">
                    <span>Sudah memiliki akun? <a href="<%= url %>login"><i>Masuk di sini</i></a></span>
                </div>

				<button type="submit" class="btn btn-primary mt-3">Sign In</button>
            </form>
        </div>
    </div>
</body>

</html>
